<h1>持ち物一覧</h1>
<ul>
  <% @items.each do |item| %>
    <li>
      <strong>持ち物名:</strong> <%= item.name %></p>
    </li>
         <%= link_to '編集', edit_item_path(item) %>
      <%= link_to '削除', item_path(item), data: { turbo_method: :delete, confirm: '本当に削除しますか？' } %>
  <% end %>
<%= link_to '戻る', home_index_path %>
